.page-post {
  font-size: 14px;
  line-height: 2;
  word-break: break-all;
}
.page-post .title {
  font-size: 22px;
  font-weight: bold;
//  color: #666666;
}
.page-post .subtitle {
  font-size: 12px;
  color: #999999;
}
.page-post .post > * {
  margin: 18px 0;
}
.page-post .post > iframe {
  margin: 0;
  width: 100%;
}
.page-post .post h1{
  font-weight: bold;
  font-size: 20px;
  position: relative;
}
.page-post .post h2 {
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
.page-post .post h1::before,
.page-post .post h3::before,
.page-post .post h4::before,
.page-post .post h5::before,
.page-post .post h6::before,
.page-post .post h2::before {
  content: '#';
  top: 0;
  font-weight: bold;
  padding-right: 6px;
}
.page-post h3,
.page-post h4,
.page-post h5,
.page-post h6 {
  font-size: 16px;
  font-weight: bold;
}
.page-post blockquote {
  border-left: 3px solid #98c379;
  background-color: #eeeeee;
  padding: 9px 9px 9px 15px;
}

.page-post a {
  color: #000000;
  margin: 0 2px;
  border-bottom: 1px solid #000000;
}
.page-post strong,
.page-post b {
  color: #000000;
}
.page-post .post ul {
  margin-left: 16px;
}
.page-post .post ol {
  margin-left: 23px;
}
.page-post ul li {
  list-style: disc;
}
.page-post ol li {
  list-style: decimal;
}
.page-post hr {
  border: none;
  height: 3px;
  background-color: #eeeeee;
}
.page-post img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 5px #e0e0e0;
}
.page-post img[alt='line'] {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-shadow: none;
  margin: 0 4px;
  line-height: 1;
}

.page-post div[class="post"]>.table-container {
  overflow: scroll;
  max-height: 600px;
}

.page-post div[class="post"]>.table-container th,
.page-post div[class="post"]>.table-container tr,
.page-post div[class="post"]>.table-container td,
.page-post div[class="post"]>.table-container table {
  min-width: 100%;
  border-collapse: collapse !important;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  text-align: left;
  font-family:inherit;
}
.page-post div[class="post"]>.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}
.page-post div[class="post"]>.table-container th {
  font-weight: bold;
  background-color: #ececec;
} 

.page-post code[class="language-plaintext highlighter-rouge"] {
  font-size: 14px;
  background-color: #eeeeee;
  word-break: break-all;
  color: #d14;
}
.page-post code[class="highlighter-rouge"] {
  font-size: 14px;
  background-color: #eeeeee;
  word-break: break-all;
  color: #d14;
}
.page-post code[class="language-plaintext"] {
  font-size: 14px;
  background-color: #eeeeee;
  word-break: break-all;
  color: #d14;
}

.page-post code>.table-container {
    overflow: scroll;
    max-height: 600px;
}
.page-post table[class="rouge-table"]{
 // border:1px solid #0099996b;
  border-collapse: collapse;
  min-width: 100%;
  font-family: inherit;
  word-wrap: break-word;
  word-break: break-all;
  table-layout：fixed;
}
.page-post table[class="rouge-table"] td {
  //border:1px solid #0099996b;
  text-align: left;
  padding: 5px 10px;
  font-family: inherit;
}
.page-post table[class="rouge-table"] td[class="rouge-gutter gl"]{
    color: #009999;
    text-align: center;
    padding: 3px 5px;
    width: 5% ;
}


@media screen and (max-width: 560px) {
  .page-post {
    font-size: 12px;
  }
  .page-post pre code {
    font-size: 12px;
  }
  .page-post .post > * {
    margin: 15px 0;
  }
}

#markdown-toc>li:first-child{display:none}
#markdown-toc>li {
  font-family: inherit;
  font-size: 14px;  
}

